In [141]:
import numpy as np
import pandas as pd

In [142]:

# Define the neural network class
class NeuralNetwork:
    def __init__(self, input_size, hidden_size, output_size):
        # Initialize the weights randomly
        self.W1 = np.random.randn(input_size * hidden_size).reshape(input_size, hidden_size)
        self.W2 = np.random.randn(hidden_size, output_size)

    def forward(self, X, num_samples, input_size):
        # Reshape weights to 1D arrays
        W1 = np.reshape(self.W1, (-1,))
        W2 = np.reshape(self.W2, (-1,))
        
        # Reshape input data to a 2D array
        X = np.reshape(X, (num_samples, input_size))
        # Compute the forward pass of the neural network
        z1 = np.dot(X, W1)
        a1 = self.sigmoid(z1)
        z2 = np.dot(a1, W2)
        a2 = self.sigmoid(z2)
        
        return a2


    def backward(self, X, y, learning_rate):
        # Compute the backward pass of the neural network
        delta2 = self.a2 - y
        delta1 = np.dot(delta2, self.W2.T) * self.sigmoid_derivative(self.z1)

        dW2 = np.dot(self.a1.T, delta2)
        dW1 = np.dot(X.T, delta1)

        # Update the weights using the Ant Colony Optimization algorithm
        self.W2 -= learning_rate * dW2
        self.W1 -= learning_rate * dW1

    def sigmoid(x):
    # Sigmoid activation function
       if isinstance(x, np.ndarray):
        x = np.reshape(x, (-1,))
        return 1 / (1 + np.exp(-x))
       else:
        x = np.reshape(x, (-1,))
        return 1 / (1 + math.exp(-x))


    def sigmoid_derivative(self, x):
        # Derivative of the sigmoid activation function
        return self.sigmoid(x) * (1 - self.sigmoid(x))

In [143]:
# Define the Ant Colony Optimization class
class AntColonyOptimization:
    def __init__(self, num_ants, num_iterations, learning_rate, neural_network):
        self.num_ants = num_ants
        self.num_iterations = num_iterations
        self.learning_rate = learning_rate
        self.neural_network = neural_network

    def optimize(self, X, y):
        for iteration in range(self.num_iterations):
            for ant in range(self.num_ants):
                # Forward pass
                y_pred = self.neural_network.forward(X, X.shape[0], input_size)


                # Backward pass with weight updates using ACO
                self.neural_network.backward(X, y, self.learning_rate)

            # Print the loss for this iteration
            loss = self.mean_squared_error(y, y_pred)
            print("Iteration: {}, Loss: {}".format(iteration, loss))

    def mean_squared_error(self, y_true, y_pred):
        # Compute the mean squared error loss
        return np.mean((y_true - y_pred)**2)

In [144]:
data=pd.read_csv(r'C:\Users\anjan\Downloads\P16-Artificial-Neural-Networks\Part 1 - Artificial Neural Networks\Churn_Modelling.csv')

In [145]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [147]:
X = data.iloc[:, 3:-1].values
y = data.iloc[:, -1].values

In [148]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2])

In [149]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [150]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [151]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [152]:
input_size = 12
hidden_size = 2
output_size = 1

In [ ]:
neural_network = NeuralNetwork(input_size, hidden_size, output_size)
aco = AntColonyOptimization(num_ants=10, num_iterations=100, learning_rate=0.1, neural_network=neural_network)
aco.optimize(X, y)